<br><br><br><br><br>

<div class="container">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col text-center"> <!-- Añadir "text-center" para centrar el contenido de la columna -->
      <span class="text-dark">Hola {{persona}}!</span>
      <br>
      <a href="/admin/login/logout" class="btn btn-outline-danger btn-sm">Cerrar sesión
        <i class="fas fa-sign-out-alt" style="margin-left: 5px;"></i>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-7" style="margin-top: -9px;">
    <h2>Listado de novedades</h2>
  </div>
  <div class="col-5 text-right">
    <a href="/admin/novedades/agregar" class="btn btn-success"> <i class="bi bi-file-plus">Nuevo</i>

    </a>
  </div>
</div>
<!--fin fila 2 -->

<!--inicio fila 3-->

<div class="row">
  <div class="col">
    <table class="table table-dark table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">titulo</th>
          <th scope="col" class="text-center">acciones</th>

        </tr>
</thead>

<tbody>
  {{#each novedades}}
  <tr>
    <th scope="row"> {{id}} </th>
    <td>{{titulo}}</td>
    <td class="text-center">
    <a href="/admin/novedades/modificar/{{id}}" class="btn btn-sm btn-secondary">
    <i class="bi bi-pencil"></i></a>
     <a href="/admin/novedades/eliminar/{{id}}" class="btn btn-sm btn-secondary">
    <i class="bi bi-trash2"></i></a>
</td>
  </tr>
  {{/each}}
</tbody>

    </table>
  </div>
</div>



</div>